<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.tarnenok.geofy"
    android:versionCode="3"
    android:versionName="0.2.1">
    <uses-sdk
        android:targetSdkVersion="23"
        android:minSdkVersion="15"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AuthTheme">
        </activity>
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AuthTheme"/>
        <activity
            android:name=".CreateChartActivity"
            android:label="@string/title_activity_create_chart">
        </activity>
        <activity
            android:name=".ChartActivity">
        </activity>
        <activity
            android:name=".ChatSettingsActivity">
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>